@use '../core/functions' as *;
@use '../core/color';
@use '../core/font';

body {
  background-color: color.$background;

  font-family: font.$family;
  font-size: rem( font.$base-size );
  line-height: font.$line-height;
  color: color.$text;

  transition: color .35s ease-out, background-color .35s ease-out;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // alternate colors when scrolling
  &.theme-light {
    background-color: color.$alternate-2;
    color: color.$alternate-1;
    a {
      color: color.$link;
    }
    .header {
      // background-color: color.$alternate-2;
    }
  }

  &.theme-maytea {
    background-color: color.$yellow;
    .header {
      // background-color: color.$yellow;
    }
  }

  &.theme-selecta {
    background-color: color.$yellow;
    .header {
      // background-color: color.$yellow;
    }
  }


}
