@use "../core/functions" as *;
@use '../core/font';
@use '../core/breakpoint';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: font.$weight-semibold;
  line-height: font.$line-height-heading;
}

h1 {
  font-size: rem(28px);
  line-height: 30px;
  font-weight: normal;
}

h2 {
  font-size: rem(20px);
}

h3 {
  font-size: rem(24px);
}



@media ( min-width: rem( breakpoint.$md ) ) {
  h1 {
    font-size: rem(38px);
    line-height: 40px;
  }

  h2 {
    font-size: rem(32px);
  }

}

@media ( min-width: rem( breakpoint.$lg ) ) {
  h1 {
    font-size: rem(48px);
    line-height: 50px;
  }

  h2 {
    font-size: rem(32px);
  }
}
