@use '../core/color';
@use '../core/font';
@use '../core/spacing';
@use '../core/breakpoint';
@use '../core/mixins/normalize';
@use '../core/functions' as *;

.t-home {

  // add extra padding for header
  .hero,
  .works {
    .row {
      padding-top: rem(72px); // header height
    }
  }

  // Hero
  .hero {
    .row {
      display: flex;
      flex-direction: column;
      justify-content:flex-end;

      min-height: 100vh;

      padding-bottom: rem(66px);

      &__title {
        max-width: rem(400px);
      }

      @media ( min-width: rem( breakpoint.$md ) ) {

        &__title {
          max-width: rem(400px);
        }

      }

      @media ( min-width: rem( breakpoint.$lg ) ) {

        &__title {
          max-width: rem(800px);
        }

      }

    }



    &__intro {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: flex-end;

      &-text {

        padding-top: 22px;
        max-width: rem(576px);
        display: none;

        @media ( min-width: rem( breakpoint.$md ) ) {
          display: block;
          max-width: rem(500px);
        }

        @media ( min-width: rem( breakpoint.$lg ) ) {
          display: block;
        }


      }

      &-skip {
        padding-top: 22px;
      }
    }
  }


// Works Fer

  .works {


  }

  .workEntry{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(20px);

    &_title{
      grid-column: 1 / span 12;
      padding-top: 90px;
      padding-left: 10px;
    }

    &_description{
      grid-column: 1 / span 12;
      padding-top: 11px;
      padding-left: 0px;

    }

    &_media {
      padding-top: 45px;
      grid-column: 1 / span 12;
    }


    &_lasItem{
      padding-bottom: 0px;
    }

    @media ( min-width: rem( breakpoint.$md ) ) {

      grid-column-gap: rem(48px);

      &_description{
        grid-column: 1 / span 8;
        padding-top: 22px;
      }

      &_media {
        grid-column: 2 / span 10;
      }

      &_lasItem{
        padding-bottom: 90px;
      }
    }

    @media ( min-width: rem( breakpoint.$lg ) ) {

      grid-column-gap: rem(48px);

      &_description{
        grid-column: 1 / span 4;
        padding-top: 22px;
      }

      &_media {
        grid-column: 3 / span 8;
      }

      &_lasItem{
        padding-bottom: 90px;
      }
    }


  }

  .workEntryMasonry{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(12, 1fr);


    &_title{
      grid-column: 1 / span 12;
      padding-top: 90px;
      padding-left: 10px;
    }

    &_description{
      grid-column: 1 / span 12;
      padding-top: 11px;
      padding-left: 0px;

    }

    &_media_left {
      padding-top: 45px;
      grid-column: 1 / span 12;
    }

    &_media_right {
      padding-top: 45px;
      grid-column: 1 / span 12;
    }

    @media ( min-width: rem( breakpoint.$md ) ) {

      grid-column-gap: rem(48px);

      &_description{
        grid-column: 1 / span 8;
        padding-top: 22px;
      }

      &_media_left {
        padding-top: 45px;
        grid-column: 2 / span 10;
      }

      &_media_right {
        padding-top: 45px;
        grid-column: 2 / span 10;
      }

      &_lasItem{
        padding-bottom: 90px;
      }
    }

    @media ( min-width: rem( breakpoint.$lg ) ) {

      grid-column-gap: rem(48px);

      &_description{
        grid-column: 1 / span 4;
        padding-top: 22px;
      }

      &_lasItem{
        padding-bottom: 90px;
      }

      &_media_left {

        grid-column: 2 / span 5;

      }

      &_media_right {

        grid-column: 7 / span 5;

      }

      .rowUp{
        grid-row: 3;
      }

    }

  }

// About

.about {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    padding-bottom: rem(66px);
  }

  &_title {
    max-width: rem(800px);
    padding-top: rem(200px);

  }

  &_linkmail{
    padding-top: rem(22px);
  }

  &_info{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(20px);

    &_bio{
      grid-column: 1 / span 12;
      padding-top: 22px;

      &_links{
        // display: flex;
        // // flex-direction: column;
        // justify-content: space-between;
        font-size: font.$min_size;
        padding-top: 45px;

        a{
          padding-right: 22px;
        }

      }

    }

    &_awards{
      grid-column: 1 / span 12;
      padding-top: 90px;
    }

    &_awards_dev{
      grid-column: 1 / span 12;
      padding-top: 22px;
    }

    &_caption{
      color: color.$grey-dark;
      padding-top:90px;
    }

    @media ( min-width: rem( breakpoint.$md ) ) {

        grid-column-gap: rem(48px);

        &_bio{
          grid-column: 1 / span 12;

        }

        &_awards{
          grid-column: 2 / span 4;
          padding-top: 90px;

        }

        &_awards_dev{
          grid-column: 6 / span 4;
          padding-top: 90px;
        }

    }

    @media ( min-width: rem( breakpoint.$lg ) ) {

        grid-column-gap: rem(48px);

        &_bio{
          grid-column: 1 / span 4;

        }

        &_awards{
          grid-column: 6 / span 3;
          padding-top: 22px;
        }

        &_awards_dev{
          grid-column: 9 / span 3;
          padding-top: 22px;
        }
    }
  }



}


.lit_txt{
  font-size: font.$min_size;
}

}
